.main-carousel(style="margin-bottom: 5rem;")
    .carousel-cell
        .car-card
            h1.heading-tertirary.car-heading 
                span Where to go when there’s so much to see, do, learn… experience?
        img(src=`https://images.pexels.com/photos/691637/pexels-photo-691637.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260`, alt=`tour 1`)
    .carousel-cell
        .car-card
            h1.heading-tertirary.car-heading  
                span LIVEST bring the world down to size and are ready to help you choose.
        img(src=`https://images.pexels.com/photos/450062/pexels-photo-450062.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260`, alt=`tour 2`)
    .carousel-cell
        .car-card
            h1.heading-tertirary.car-heading  
                span Fulfill Your Wanderlust with LIVEST NOW!
        img(src=`https://images.pexels.com/photos/3061217/pexels-photo-3061217.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260`, alt=`tour 4`)

    