header.header
    nav.nav.nav--tours

    .header__logo
        a.nav__el(href='/')
            img(src='/img/new-logo-no-txt.png' alt='Livest logo')
            h3 Livest
    .header__search
        label(for="search")
            input(type="text" id="search" placeholder="Type something..")
            include _spinner
        .search-list 

    nav.nav.nav--user
        if user
            //a.nav__el.nav__el--logout Log Out
            //a.nav__el(href='/me')
                //img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                //span= user.name.split(' ')[0]
            include _menu
        else
            a(href='/login').nav__el.nav__el--cta Log In
        #burger-menu 
            span(data-user=`${user? 1:0}` data-user-obj=`${user && JSON.stringify(user)}`) 
            