.pagination__container
    .pagination__buttons 
        button(disabled style="opacity: .2;")#previous.btn.btn--green.btn--small 
            strong &#9754;
            span Previous 
        button#next.btn.btn--green.btn--small
            span Next 
            strong &#9755;
