extends base
block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset your Password
            form.form.form--login
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='Enter Your Email', required)
                .form__group
                    button.btn.btn--green Continue
                .form__group
                    a.form__already-have-acc(href="/login") Sign In